
@{
    ViewBag.Title = "Blog";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li style="margin-left: 170px">
                <a href="#">Home &nbsp;</a>
                <span class="go-page"></span>
            </li>
            <li>> &nbsp;</li>
            <li>Blog &nbsp;</li>
        </ul>
    </div>
</div><br/>
<div class="container" >
    <div class="row">
        <div class="col-md-4">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h1 style="font-size: 28px; font-weight: 700 !important;">Blog</h1>
        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4">
            <div class="row">
                <div class="box-title" >
                    <h3 style="font-size: 20px; font-weight: 600; padding-bottom:15px ;border-bottom: 1px solid #ddd">Recent Post</h3>
                </div>
                <div class="row" style="padding-top: 15px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><img class="card-img-top" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/b9.jpg" alt="Card image cap"></div>
                            <div class="col-md-8">
                                <h4 style="font-size: 14px;color: #000;"><b><a href="https://demo.wpthemego.com/themes/sw_rozy/duis-aute-irure-dolor/" tabindex="0"> Aute irure dolor in</a></b></h4>
                                <span class="date-time" style="padding-top: 10px; font-size: 13px; color: #909090" >
                                    <i class="fa fa-calendar">&nbsp;"03/03/2020"</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 15px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><img class="card-img-top" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/b8.jpg" alt="Card image cap"></div>
                            <div class="col-md-8">
                                <h4 style="font-size: 14px;color: #000;"><b><a href="https://demo.wpthemego.com/themes/sw_rozy/duis-aute-irure-dolor/" tabindex="0">Excepteur sint occaecat cup</a></b></h4>
                                <span class="date-time" style="padding-top: 10px; font-size: 13px; color: #909090">
                                <i class="fa fa-calendar">&nbsp;"03/03/2020"</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 15px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><img class="card-img-top" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/b7.jpg" alt="Card image cap"></div>
                            <div class="col-md-8">
                                <h4 style="font-size: 14px;color: #000;"><b><a href="https://demo.wpthemego.com/themes/sw_rozy/duis-aute-irure-dolor/" tabindex="0">Sunt in culpa qui officia deserunt mollit</a></b></h4>
                                <span class="date-time" style="padding-top: 10px; font-size: 13px; color: #909090">
                                <i class="fa fa-calendar">&nbsp;"03/03/2020"</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row blog-card">
                <div class="col-md-6">
                    <div class="card" style="width: auto;">
                        <img class="card-img-top" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/b1-465x330.jpg" alt="Card image cap">
                        <div class="entry-meta clearfix" style="padding-top: 10px; font-size: 13px; color: #909090 ">
                            <span class="date-time">
                                <i class="fa fa-calendar">&nbsp "03/03/2020"</i>
                            </span>
                            <span class="entry-meta entry-comment pull-right">
                                <i class="fa fa-comments">0</i>
                                <a href="https://demo.wpthemego.com/themes/sw_rozy/donec-massa-pellentesque-placerat-nisl-laoreet-placerat/#respond"  style="color: #909090">Comments</a>
                            </span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title category-content">Ullamco Laboris Nisi Ut</h4>
                            <p class="card-text blog-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,...
                            </p>
                            <a href="https://demo.wpthemego.com/themes/sw_rozy/donec-massa-pellentesque-placerat-nisl-laoreet-placerat/" class="blog-content-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="width: auto;">
                        <img class="card-img-top" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/b4-465x330.jpg" alt="Card image cap">
                        <div class="entry-meta clearfix" style="padding-top: 10px; font-size: 13px; color: #909090 ">
                            <span class="date-time">
                                <i class="fa fa-calendar">&nbsp "03/03/2020"</i>
                            </span>
                            <span class="entry-meta entry-comment pull-right">
                                <i class="fa fa-comments">0</i>
                                <a href="https://demo.wpthemego.com/themes/sw_rozy/donec-massa-pellentesque-placerat-nisl-laoreet-placerat/#respond"  style="color: #909090">Comments</a>
                            </span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title category-content">Ut Labore Et Dolore</h4>
                            <p class="card-text blog-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,...
                            </p>
                            <a href="https://demo.wpthemego.com/themes/sw_rozy/donec-massa-pellentesque-placerat-nisl-laoreet-placerat/" class="blog-content-btn" >Read More</a>
                        </div>
                    </div>
                </div>
            </div>
    
    </div>
    
    
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4 popular-tag">
            <div class="row" >
                <h2 style="font-size: 20px; font-weight: 600; padding-bottom: 15px; border-bottom: 1px solid #ddd">
                    <span>
                        Popular Tags
                    </span>
                </h2>
            </div>
            <div class="row">
                <div class="tagcloud">
                    <a href="https://demo.wpthemego.com/themes/sw_rozy/tag/birthday/" class="tag-cloud-link tag-link-267 tag-link-position-1" style="font-size:8px">content</a>
                    <a href="https://demo.wpthemego.com/themes/sw_rozy/tag/deal/" class="tag-cloud-link tag-link-281 tag-link-position-2" style="font-size:8px">deal</a>
                    <a href="https://demo.wpthemego.com/themes/sw_rozy/tag/flower/" class="tag-cloud-link tag-link-279 tag-link-position-3" style="font-size:8px">flower</a>
                    <a href="https://demo.wpthemego.com/themes/sw_rozy/tag/hot/" class="tag-cloud-link tag-link-280 tag-link-position-4" style="font-size:8px">hot</a>
                    <a href="https://demo.wpthemego.com/themes/sw_rozy/tag/hot-deal/" class="tag-cloud-link tag-link-266 tag-link-position-5" style="font-size:8px">hot deal</a>
                    <a href="https://demo.wpthemego.com/themes/sw_rozy/tag/new/" class="tag-cloud-link tag-link-291 tag-link-position-6" style="font-size:8px">new</a>
                    <a href="https://demo.wpthemego.com/themes/sw_rozy/tag/rose/" class="tag-cloud-link tag-link-278 tag-link-position-7" style="font-size:8px">rose</a>
                    <a href="https://demo.wpthemego.com/themes/sw_rozy/tag/sale-of/" class="tag-cloud-link tag-link-264 tag-link-position-8" style="font-size:8px">sale off</a>
                    <a href="https://demo.wpthemego.com/themes/sw_rozy/tag/shop/" class="tag-cloud-link tag-link-302 tag-link-position-9" style="font-size:8px">shop</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row blog-card">
                <div class="col-md-6">
                    <div class="card" style="width: auto;">
                        <img class="card-img-top" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/b10-465x330.jpg" alt="Card image cap">
                        <div class="entry-meta clearfix" style="padding-top: 10px; font-size: 13px; color: #909090 ">
                            <span class="date-time">
                                <i class="fa fa-calendar">&nbsp "03/03/2020"</i>
                            </span>
                            <span class="entry-meta entry-comment pull-right">
                                <i class="fa fa-comments">0</i>
                                <a href="https://demo.wpthemego.com/themes/sw_rozy/donec-massa-pellentesque-placerat-nisl-laoreet-placerat/#respond" style="color: #909090">Comments</a>
                            </span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title category-content">Ut Enim Ad Minim Veniam</h4>
                            <p class="card-text blog-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,...
                            </p>
                            <a href="https://demo.wpthemego.com/themes/sw_rozy/donec-massa-pellentesque-placerat-nisl-laoreet-placerat/" class="blog-content-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="width: auto;">
                        <img class="card-img-top" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/b2-465x330.jpg" alt="Card image cap">
                        <div class="entry-meta clearfix" style="padding-top: 10px; font-size: 13px; color: #909090 ">
                            <span class="date-time">
                                <i class="fa fa-calendar">&nbsp "03/03/2020"</i>
                            </span>
                            <span class="entry-meta entry-comment pull-right">
                                <i class="fa fa-comments">0</i>
                                <a href="https://demo.wpthemego.com/themes/sw_rozy/donec-massa-pellentesque-placerat-nisl-laoreet-placerat/#respond" style="color: #909090">Comments</a>
                            </span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title category-content">Eiusmod Tempor Incididunt Ut</h4>
                            <p class="card-text blog-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,...
                            </p>
                            <a href="https://demo.wpthemego.com/themes/sw_rozy/donec-massa-pellentesque-placerat-nisl-laoreet-placerat/" class="blog-content-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <div class="row blog-card">
                <div class="col-md-6">
                    <div class="card" style="width: auto;">
                        <img class="card-img-top" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/b10-465x330.jpg" alt="Card image cap">
                        <div class="entry-meta clearfix" style="padding-top: 10px; font-size: 13px; color: #909090 ">
                            <span class="date-time">
                                <i class="fa fa-calendar">&nbsp "03/03/2020"</i>
                            </span>
                            <span class="entry-meta entry-comment pull-right">
                                <i class="fa fa-comments">0</i>
                                <a href="https://demo.wpthemego.com/themes/sw_rozy/donec-massa-pellentesque-placerat-nisl-laoreet-placerat/#respond" style="color: #909090">Comments</a>
                            </span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title category-content">Ut Enim Ad Minim Veniam</h4>
                            <p class="card-text blog-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,...
                            </p>
                            <a href="https://demo.wpthemego.com/themes/sw_rozy/donec-massa-pellentesque-placerat-nisl-laoreet-placerat/" class="blog-content-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="width: auto;">
                        <img class="card-img-top" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/b2-465x330.jpg" alt="Card image cap">
                        <div class="entry-meta clearfix" style="padding-top: 10px; font-size: 13px; color: #909090 ">
                            <span class="date-time">
                                <i class="fa fa-calendar">&nbsp "03/03/2020"</i>
                            </span>
                            <span class="entry-meta entry-comment pull-right">
                                <i class="fa fa-comments">0</i>
                                <a href="https://demo.wpthemego.com/themes/sw_rozy/donec-massa-pellentesque-placerat-nisl-laoreet-placerat/#respond" style="color: #909090">Comments</a>
                            </span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title category-content">Eiusmod Tempor Incididunt</h4>
                            <p class="card-text blog-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,...
                            </p>
                            <a href="https://demo.wpthemego.com/themes/sw_rozy/donec-massa-pellentesque-placerat-nisl-laoreet-placerat/" class="blog-content-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="center">
                <ul class="pagination">
                    <li><a href="tryit.asp-filename=trycss_ex_pagination_center.html#">«</a></li>
                    <li><a href="tryit.asp-filename=trycss_ex_pagination_center.html#">1</a></li>
                    <li><a class="active" href="tryit.asp-filename=trycss_ex_pagination_center.html#">2</a></li>
                    <li><a href="tryit.asp-filename=trycss_ex_pagination_center.html#">3</a></li>
                    <li><a href="tryit.asp-filename=trycss_ex_pagination_center.html#">4</a></li>
                    <li><a href="tryit.asp-filename=trycss_ex_pagination_center.html#">5</a></li>
                    <li><a href="tryit.asp-filename=trycss_ex_pagination_center.html#">6</a></li>
                    <li><a href="tryit.asp-filename=trycss_ex_pagination_center.html#">7</a></li>
                    <li><a href="tryit.asp-filename=trycss_ex_pagination_center.html#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

