
@{
    ViewBag.Title = "Index";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/10/slide1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block" style="position: absolute;right: 15%;bottom: 150px;left: 15%;z-index: 10;padding-top: 20px;padding-bottom: 20px;color: #fff;text-align: center;">
                <h1>The Art of Fresher Flowers </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br />tempor incididunt ut labore et dolore magna aliqua. </p>
                <button class="button" style="background-color: white;border: none;color: black;padding: 10px 20px;text-align: center;text-decoration: none;display: inline-block;margin: 4px 2px;cursor: pointer;border-radius: 16px;">
                    <b>Show Now</b>
                </button>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/10/slide2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block" style="position: absolute;right: 15%;bottom: 150px;left: 15%;z-index: 10;padding-top: 20px;padding-bottom: 20px;color: #fff;text-align: center;">
                <h1>The Art of Fresher Flowers </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br />tempor incididunt ut labore et dolore magna aliqua. </p>
                <button class="button" style="background-color: white;border: none;color: black;padding: 10px 20px;text-align: center;text-decoration: none;display: inline-block;margin: 4px 2px;cursor: pointer;border-radius: 16px;">
                    <b>Show Now</b>
                </button>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/10/slide3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block" style="position: absolute;right: 15%;bottom: 150px;left: 15%;z-index: 10;padding-top: 20px;padding-bottom: 20px;color: #fff;text-align: center;">
                <h1>The Art of Fresher Flowers </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br />tempor incididunt ut labore et dolore magna aliqua. </p>
                <button class="button" style="background-color: white;border: none;color: black;padding: 10px 20px;text-align: center;text-decoration: none;display: inline-block;margin: 4px 2px;cursor: pointer;border-radius: 16px;">
                    <b>Show Now</b>
                </button>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="sale-event row container-fluid" style="padding-top:70px;padding-left:45px">
    <div class="col-4 sale-event-1">
        <a href="#"><img src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/09/banner-home11.jpg" alt="" /></a>
    </div>
    <div class="col-4 sale-event-2">
        <div class="sale-event-2.1">
            <a href="#"><img src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/09/banner-home12.jpg" alt="" /></a>
        </div>
        <div class="sale-event-2.2" style="padding-bottom:0px;padding-top:30px">
            <a href="#"><img src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/09/banner-home13.jpg" alt="" /></a>
        </div>
    </div>
    <div class="col-4 sale-event-3" style="">
        <a href="#"><img src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/10/banner-home141.jpg" alt="" /></a>
    </div>
</div>
<div class="top-products" style="padding-top:70px">
    <div class="title-top-products">
        <h3 class="text-center" style="color:red"><b>Top Products</b></h3>
    </div>
    <div class="nav-top-products">
        <ul class="d-flex justify-content-center item-nav-top-products">
            <a href="#">NEW ARRIVAL</a>
            <a href="#">BEST SELLING</a>
            <a href="#">TOP RATING</a>
            <a href="#">FEATURED PRODUCTS</a>
        </ul>
    </div>
</div>
<div class="product-in-top container-fluid" style="padding-bottom:50px">
    <div class="row">
        <div class="col">
            <div class="box" style="">
                <div class="img-item-detail">
                    <a href="#"><img style="max-width:100%;max-height:100%;" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/5-270x270.jpg" alt="Alternate Text" /></a>
                </div>
                <div class="item-content">
                    <p class="text-center">Odit Aut Fugit</p>
                </div>
                <div class="reviews-content">
                    <div class="start"></div>
                </div>
                <div class="item-price">
                    <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="box" style="">
                <div class="img-item-detail">
                    <a href="#"><img style="max-width:100%;max-height:100%;" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/5-270x270.jpg" alt="Alternate Text" /></a>
                </div>
                <div class="item-content">
                    <p class="text-center">Odit Aut Fugit</p>
                </div>
                <div class="reviews-content">
                    <div class="start"></div>
                </div>
                <div class="item-price">
                    <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="box" style="">
                <div class="img-item-detail">
                    <a href="#"><img style="max-width:100%;max-height:100%;" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/5-270x270.jpg" alt="Alternate Text" /></a>
                </div>
                <div class="item-content">
                    <p class="text-center">Odit Aut Fugit</p>
                </div>
                <div class="reviews-content">
                    <div class="start"></div>
                </div>
                <div class="item-price">
                    <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="box" style="">
                <div class="img-item-detail">
                    <a href="#"><img style="max-width:100%;max-height:100%;" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/5-270x270.jpg" alt="Alternate Text" /></a>
                </div>
                <div class="item-content">
                    <p class="text-center">Odit Aut Fugit</p>
                </div>
                <div class="reviews-content">
                    <div class="start"></div>
                </div>
                <div class="item-price">
                    <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="box" style="">
                <div class="img-item-detail">
                    <a href="#"><img style="max-width:100%;max-height:100%;" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/5-270x270.jpg" alt="Alternate Text" /></a>
                </div>
                <div class="item-content">
                    <p class="text-center">Odit Aut Fugit</p>
                </div>
                <div class="reviews-content">
                    <div class="start"></div>
                </div>
                <div class="item-price">
                    <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="program-sale row container-fluid" style="padding-left:70px;padding-bottom:50px">
    <div col-6>
        <a href="#">
            <img src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/08/banner5.jpg" alt="Alternate Text" />
        </a>
    </div>
    <div class="col-6">
        <a href="#">
            <img src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/08/banner6.jpg" alt="Alternate Text" />
        </a>
    </div>
</div>
<div class="on-sales-reviews row container-fluid" style="padding-top:30px;padding-left:70px">
    <div class="col-8 example1" style="border: 0.5px solid red;border-radius: 25px;">
        <div class="">
            <h3><b>ON SALES</b></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            <hr />
        </div>
        <div class="row">
            <div class="col-4">
                <div class="item-detail">
                    <div class="img-item-detail">
                        <a href="#"><img style="max-width:100%;max-height:100%;" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/5-270x270.jpg" alt="Alternate Text" /></a>
                    </div>
                    <div class="item-content">
                        <p class="text-center">Odit Aut Fugit</p>
                    </div>
                    <div class="reviews-content">
                        <div class="start"></div>
                    </div>
                    <div class="item-price">
                        <h4 class="text-center"><b>$100.00</b></h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="video-reviews" style="padding-left:20px">
            <iframe width="350" height="270" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="row">
            <div class="col-4" style="padding-left:20px">
                <div class="avatar" style="padding-left:15px;padding-top:10px">
                    <img width="80" height="80" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/04/te-1-90x90.jpg" alt="..." class="rounded-circle">
                </div>
            </div>
            <div class="text-content-reviews col-8">
                <div>
                    <div>
                        <b>Dean Winchester</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-product-relate" style="padding-top:50px;padding-bottom:50px">
    <h1 class="text-center" style="color:red">
        Các Sản Phẩm Liên Quan
    </h1>
</div>
<div class="products-relate container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-3">
                        <div class="box" style="">
                            <div class="img-item-detail">
                                <a href="#"><img style="max-width:100%;max-height:100%;" class="d-block w-100" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/09/16-270x270.jpg" alt=""></a>
                            </div>
                            <div class="item-content">
                                <p class="text-center">Odit Aut Fugit</p>
                            </div>
                            <div class="reviews-content">
                                <div class="start"></div>
                            </div>
                            <div class="item-price">
                                <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box" style="">
                            <div class="img-item-detail">
                                <a href="#"><img style="max-width:100%;max-height:100%;" class="d-block w-100" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/09/18-270x270.jpg" alt=""></a>
                            </div>
                            <div class="item-content">
                                <p class="text-center">Odit Aut Fugit</p>
                            </div>
                            <div class="reviews-content">
                                <div class="start"></div>
                            </div>
                            <div class="item-price">
                                <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box" style="">
                            <div class="img-item-detail">
                                <a href="#"><img style="max-width:100%;max-height:100%;" class="d-block w-100" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/09/20-270x270.jpg" alt=""></a>
                            </div>
                            <div class="item-content">
                                <p class="text-center">Odit Aut Fugit</p>
                            </div>
                            <div class="reviews-content">
                                <div class="start"></div>
                            </div>
                            <div class="item-price">
                                <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box" style="">
                            <div class="img-item-detail">
                                <a href="#"><img style="max-width:100%;max-height:100%;" class="d-block w-100" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/09/17-270x270.jpg" alt=""></a>
                            </div>
                            <div class="item-content">
                                <p class="text-center">Odit Aut Fugit</p>
                            </div>
                            <div class="reviews-content">
                                <div class="start"></div>
                            </div>
                            <div class="item-price">
                                <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-3">
                        <div class="box" style="">
                            <div class="img-item-detail">
                                <a href="#"><img style="max-width:100%;max-height:100%;" class="d-block w-100" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/09/16-270x270.jpg" alt=""></a>
                            </div>
                            <div class="item-content">
                                <p class="text-center">Odit Aut Fugit</p>
                            </div>
                            <div class="reviews-content">
                                <div class="start"></div>
                            </div>
                            <div class="item-price">
                                <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box" style="">
                            <div class="img-item-detail">
                                <a href="#"><img style="max-width:100%;max-height:100%;" class="d-block w-100" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/09/18-270x270.jpg" alt=""></a>
                            </div>
                            <div class="item-content">
                                <p class="text-center">Odit Aut Fugit</p>
                            </div>
                            <div class="reviews-content">
                                <div class="start"></div>
                            </div>
                            <div class="item-price">
                                <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box" style="">
                            <div class="img-item-detail">
                                <a href="#"><img style="max-width:100%;max-height:100%;" class="d-block w-100" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/09/20-270x270.jpg" alt=""></a>
                            </div>
                            <div class="item-content">
                                <p class="text-center">Odit Aut Fugit</p>
                            </div>
                            <div class="reviews-content">
                                <div class="start"></div>
                            </div>
                            <div class="item-price">
                                <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box" style="">
                            <div class="img-item-detail">
                                <a href="#"><img style="max-width:100%;max-height:100%;" class="d-block w-100" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/09/17-270x270.jpg" alt=""></a>
                            </div>
                            <div class="item-content">
                                <p class="text-center">Odit Aut Fugit</p>
                            </div>
                            <div class="reviews-content">
                                <div class="start"></div>
                            </div>
                            <div class="item-price">
                                <h4 class="text-center" style="color:red"><b>$100.00</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="banner-happy-holiday container-fluid">
    <div class="" style="padding-left:30px;padding-top:50px;padding-bottom:50px">
        <img src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/08/banner8.jpg" alt="Alternate Text" />
    </div>
</div>
<div class="content-blog">
    <div class="contain-main-blog text-center">
        <h1>OUR BLOG</h1>
    </div>
    <div class="contain-blog-2 text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
</div>
<div class="blog container-fluid" style="padding-top:50px;padding-bottom">
    <div class="row">
        <div class="col-4">
            <div class="img-blog">
                <img style="max-width:100%;max-height:100%;" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/b3-465x330.jpg" alt="" />
            </div>
            <div class="icon-calender">
                <i class="fa fa-calendar">12/12/2020</i>
            </div>
            <div class="">
                <h4><b>Eiusmod Tempor Incididunt Ut</b></h4>
            </div>
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 								</p>
            </div>
            <div class="button-blog">
                <button type="button" class="btn btn-danger">Read More</button>
            </div>
        </div>
        <div class="col-4">
            <div class="img-blog">
                <img style="max-width:100%;max-height:100%;" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/b3-465x330.jpg" alt="" />
            </div>
            <div class="icon-calender">
                <i class="fa fa-calendar">12/12/2020</i>
            </div>
            <div class="">
                <h4><b>Eiusmod Tempor Incididunt Ut</b></h4>
            </div>
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 								</p>
            </div>
            <div class="button-blog">
                <button type="button" class="btn btn-danger">Read More</button>
            </div>
        </div>
        <div class="col-4">
            <div class="img-blog">
                <img style="max-width:100%;max-height:100%;" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/b3-465x330.jpg" alt="" />
            </div>
            <div class="icon-calender">
                <i class="fa fa-calendar">12/12/2020</i>
            </div>
            <div class="">
                <h4><b>Eiusmod Tempor Incididunt Ut</b></h4>
            </div>
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 								</p>
            </div>
            <div class="button-blog">
                <button type="button" class="btn btn-danger">Read More</button>
            </div>
        </div>
    </div>
</div>

