
@{
    ViewBag.Title = "Products";
}
<div class="container" style="padding-top:20px;padding-bottom:20px">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <article>
                    <header class="card-header">
                        <h6 class="title">Search</h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group">
                                    
                                    <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                </div>
                            </div>
                        </div> <!-- card-body.// -->
                    </div>
                </article>
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Price</h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Min</label>
                                    <input type="number" class="form-control" id="" placeholder="$0">
                                </div>
                                <div class="form-group col-md-6 text-right">
                                    <label>Max</label>
                                    <input type="number" class="form-control" placeholder="$1,0000">
                                </div>
                            </div>
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Category</h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <div class="custom-control custom-checkbox">
                                
                                <input type="checkbox" class="custom-control-input" id="Check1">
                                <label class="custom-control-label" for="Check1">Hoa Cưới
                                </label>
                            </div> <!-- form-check.// -->

                            <div class="custom-control custom-checkbox">
                                
                                <input type="checkbox" class="custom-control-input" id="Check2">
                                <label class="custom-control-label" for="Check2">Hoa Sinh Nhật
                                </label>
                            </div> <!-- form-check.// -->

                            <div class="custom-control custom-checkbox">
                                
                                <input type="checkbox" class="custom-control-input" id="Check3">
                                <label class="custom-control-label" for="Check3">Hoa Valentine
                                </label>
                            </div> <!-- form-check.// -->

                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
            </div> <!-- card.// -->
        </div>
        <div class="col-9">
            <div class="row">
                <div class="banner-img-in-products">
                    <img src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2018/08/banner-shop.jpg" alt="Alternate Text" />
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="product-grid3">
                        <div class="product-image3">
                            <a href="#">
                                <img class="pic-1" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/2.jpg">
                                <img class="pic-2" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/4.jpg">
                            </a>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                            <span class="product-new-label">New</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Men's Blazer</a></h3>
                            <div class="price">
                                $63.50

                            </div>
                            <ul class="rating">
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star disable"></li>
                                <li class="fa fa-star disable"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="product-grid3">
                        <div class="product-image3">
                            <a href="#">
                                <img class="pic-1" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/2.jpg">
                                <img class="pic-2" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/4.jpg">
                            </a>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Women's Designer Top</a></h3>
                            <div class="price">
                                $43.50
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="product-grid3">
                        <div class="product-image3">
                            <a href="#">
                                <img class="pic-1" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/2.jpg">
                                <img class="pic-2" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/4.jpg">
                            </a>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                            <span class="product-new-label">New</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Men's Blazer</a></h3>
                            <div class="price">
                                $63.50

                            </div>
                            <ul class="rating">
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star disable"></li>
                                <li class="fa fa-star disable"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="product-grid3">
                        <div class="product-image3">
                            <a href="#">
                                <img class="pic-1" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/2.jpg">
                                <img class="pic-2" src="https://demo.wpthemego.com/themes/sw_rozy/wp-content/uploads/2016/10/4.jpg">
                            </a>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                            <span class="product-new-label">New</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Men's Blazer</a></h3>
                            <div class="price">
                                $63.50

                            </div>
                            <ul class="rating">
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star disable"></li>
                                <li class="fa fa-star disable"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

