
@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section _Header
{
    <header class="page-header">
        <h2>Add Role</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Manager / Roles / Add Role</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
}

@using (Html.BeginForm("ProcessCreateRole", "Roles", FormMethod.Post))
{
    <div>
        Name: <input type="text" name="roleName" value="" /> <br />
        Description: <input type="text" name="description" value="" /> <br />
        <input type="submit" name="Submit" value="submit" />
    </div>
}
