<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <p>Layout Admin</p>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
